        <div class="container mt-5">
            <!-- Heading Row-->
            <div class="row gx-4 gx-lg-5 align-items-center mt-5">
                <div class="col-lg-8"><img class="img-fluid rounded mt-4 mb-lg-0" src="https://images.assettype.com/freepressjournal/2021-12/20af8773-3e8f-4976-a1e3-e4b64836533c/disability.jpg" alt="..." /></div>
                <div class="col-lg-4">
                    <h1 class="font-weight-light text-center name">Accessibility Map</h1>
                    <p class="text-center">Accessibility map is a centralized platform for storing and sharing accessibility provisions for specially abled people, of different places like offices, restaurents, schools, malls, public places, cinema halls, railway stations, bus stops and many more along with their physical location.</p>
                    <!-- <a class="btn btn-primary" href="#!">Call to Action!</a> -->
                </div>
            </div>
            <!-- Call to Action-->
            <div class="card text-black bg-c mb-5 py-4 text-center">
                <div class="card-body"><p class="text-black m-0">Register your place providing the information about the accessibility provisions provided at the site with proof. These facilities will be showcased in our application to all the users.</p></div>
                <a class="btn btn-primary" routerLink="register-business" routerLinkActive="active">
                    Register Business
                </a>
                <!-- <button type="button" class="btn btn-primary btn-sm" [routerLink]="'register-business'"> Button Label</button> -->
            </div>
            <!-- Content Row-->
            
        </div>
        <!-- Footer-->
        <footer class="footer bg-c">
            <div class="container bottom_border">
            <div class="row">
            <div class="col-sm-4 col-md  col-6 col">
            <h5 class="headin5_amrc pt2">Find us</h5>
            <!--headin5_amrc-->
            <p><i class="fa fa-location-arrow"></i> 9878/25 sec 9 rohini 35 </p>
            <p><i class="fa fa-phone"></i>  +91-9999878398  </p>
            <p><i class="fa fa fa-envelope"></i> info@example.com  </p>
            
            
            </div>
            
            
            <div class=" col-sm-4 col-md  col-12 col boxx">
                <ul class="social_footer_ul">
                    <li><a href="http://webenlance.com"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="http://webenlance.com"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="http://webenlance.com"><i class="fab fa-linkedin"></i></a></li>
                    <li><a href="http://webenlance.com"><i class="fab fa-instagram"></i></a></li>
                    </ul>
            <!--footer_ul_amrc ends here-->
            </div>
            
            
            
            </div>
            
            <!--foote_bottom_ul_amrc ends here-->
            <p class="text-center mt-4">Copyright @2022 | Designed with by <a href="#">Team Hashira</a></p>
            
            
            <!--social_footer_ul ends here-->
            </div>
            
            </footer>
            
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
