<h1 class="display-5 text-center">Map View</h1>
<div class="row">
  <div class="col-xl-9 col-md-7 col-sm-12">
    <div id="map-view" class="map-view"></div>
  </div>

  <div class="col-xl-3 col-md-5 col-sm-12">
    <div class="filter-options mx-2 border shadow-sm">
      <h5 class="text-center text-dark py-2" style="background-color: #e3f2fd">
        Filter
      </h5>
      <div class="m-2">
        <h6>Business Type</h6>
        <div
          class="form-check d-flex align-items-center justify-content-start mb-2"
          *ngFor="let item of businessTypes"
        >
          <input
            class="form-check-input mt-1"
            type="checkbox"
            [checked]="item.show"
            [id]="item.value"
            (click)="filterData(item.value)"
          />
          <label class="form-check-label ms-3" [for]="item.value">
            <span
              class="btn shadow"
              [ngstyle]="item.show ? 'btn-primary' : ' btn-white'"
            >
              <div [innerHTML]="item.icon" class="me-2"></div>
              {{ item.value }}
            </span>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
