<div class="row">
  <div class="col-xl-4 col-md-2 col-sm-1"></div>
  <div class="col-xl-4 col-md-8 col-sm-10">
    <form [formGroup]="loginForm" class="border mt-3 px-3">
      <div class="text-center display-5">Login</div>
      <div class="mb-3">
        <label for="country_code" class="form-label">
          Country Code <span class="text-danger">*</span>
        </label>
        <select
          class="form-select mb-3"
          id="country_code"
          formControlName="country_code"
          [ngClass]="{
            'is-invalid': loginForm.get('country_code').errors && submitted
          }"
        >
          <option
            *ngFor="let country_code of country_codes"
            [ngValue]="country_code.dial_code"
          >
            {{ country_code.name }} ({{ country_code.dial_code }})
          </option>
        </select>
      </div>
      <div class="mb-3">
        <label for="phone" class="form-label">
          Phone Number <span class="text-danger">*</span>
        </label>
        <input
          type="text"
          class="form-control"
          id="phone"
          placeholder="7681245996"
          formControlName="phone"
          [ngClass]="{
            'is-invalid': loginForm.get('phone').errors && submitted
          }"
        />
      </div>
      <div id="recaptcha-container"></div>
      <div class="text-center my-3" *ngIf="!showOTPOpt">
        <div class="btn btn-outline-primary" (click)="generateOTP()">
          Generate OTP
        </div>
      </div>
      <div *ngIf="showOTPOpt">
        <div class="mb-3">
          <label for="phone" class="form-label">
            Enter Verification Code <span class="text-danger">*</span>
          </label>
          <br />
          <input
            type="text"
            id="verification_code"
            formControlName="verification_code"
            maxlength="6"
          />
        </div>
        <div class="text-center my-3">
          <div class="btn btn-outline-danger" (click)="verifyOTP()">
            Verify OTP
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="col-xl-4 col-md-2 col-sm-1"></div>
</div>
