<form class="row my-4" [formGroup]="businessForm" (ngSubmit)="submitForm()">
  <div class="col-xl-2 col-md-2 col-sm-0"></div>
  <div class="col-xl-8 col-md-8 col-sm-12 mx-3 border rounded">
    <h1 class="display-5 text-center">Business Details</h1>
    <div class="row">
      <div class="col-xl-8 col-md-12 col-sm-12">
        <div class="mb-3">
          <label for="name" class="form-label">
            Business Name <span class="text-danger fw-bold">*</span>
          </label>
          <input
            type="text"
            class="form-control"
            id="name"
            formControlName="name"
            [ngClass]="{
              'is-invalid': businessForm.get('name').errors && submitted
            }"
          />
        </div>
      </div>
      <div class="col-xl-4 col-md-12 col-sm-12">
        <div class="mb-3">
          <label for="type" class="form-label">
            Business Type <span class="text-danger fw-bold">*</span>
          </label>
          <select
            class="form-select"
            id="type"
            formControlName="type"
            [ngClass]="{
              'is-invalid': businessForm.get('type').errors && submitted
            }"
          >
            <option value="Education">Education</option>
            <option value="Residential">Residential</option>
            <option value="Hospital">Hospital</option>
            <option value="Restaurant">Restaurant</option>
            <option value="Hotels">Hotels</option>
            <option value="Cinema Theater">Cinema Theater</option>
            <option value="Railway Station">Railway Station</option>
            <option value="Bus Stop">Bus Stop</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="mb-3">
        <label for="address" class="form-label">
          Address <span class="text-danger fw-bold">*</span>
        </label>
        <textarea
          class="form-control"
          id="address"
          formControlName="address"
          rows="2"
          [ngClass]="{
            'is-invalid': businessForm.get('address').errors && submitted
          }"
        >
        </textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-4 col-md-6 col-sm-12">
        <div class="mb-3">
          <label for="locality" class="form-label"> Locality </label>
          <input
            type="text"
            class="form-control"
            id="locality"
            formControlName="locality"
          />
        </div>
      </div>
      <div class="col-xl-4 col-md-6 col-sm-12">
        <div class="mb-3">
          <label for="street" class="form-label"> Street </label>
          <input
            type="text"
            class="form-control"
            id="street"
            formControlName="street"
          />
        </div>
      </div>
      <div class="col-xl-4 col-md-6 col-sm-12">
        <div class="mb-3">
          <label for="city" class="form-label">
            City <span class="text-danger fw-bold">*</span>
          </label>
          <input
            type="text"
            class="form-control"
            id="city"
            formControlName="city"
            [ngClass]="{
              'is-invalid': businessForm.get('city').errors && submitted
            }"
          />
        </div>
      </div>
      <div class="col-xl-4 col-md-6 col-sm-12">
        <div class="mb-3">
          <label for="pincode" class="form-label">
            Pincode <span class="text-danger fw-bold">*</span>
          </label>
          <input
            type="text"
            class="form-control"
            id="pincode"
            formControlName="pincode"
            [ngClass]="{
              'is-invalid': businessForm.get('pincode').errors && submitted
            }"
          />
        </div>
      </div>
      <div class="col-xl-4 col-md-6 col-sm-12">
        <div class="mb-3">
          <label for="mobile" class="form-label">
            Mobile/Contact Info <span class="text-danger fw-bold">*</span>
          </label>
          <input
            type="text"
            class="form-control"
            id="mobile"
            formControlName="mobile"
            [ngClass]="{
              'is-invalid': businessForm.get('mobile').errors && submitted
            }"
          />
        </div>
      </div>
      <div class="col-xl-4 col-md-6 col-sm-12">
        <div class="mb-3">
          <label for="blueprint" class="form-label">
            Blueprint <span class="text-danger fw-bold">*</span>
          </label>
          <input
            class="form-control"
            type="file"
            id="blueprint"
            accept="image/*"
            (change)="uploadBlueprint($event)"
          />
        </div>
      </div>
    </div>
    <div class="mb-3" (window:resize)="onResize($event)">
      <label for="location" class="form-label">
        Location <span class="text-danger fw-bold">*</span>
      </label>
      <section class="map_box_container">
        <!--MAP-->
        <div id="map-input" class="map-input"></div>
      </section>
    </div>
    <div class="mb-3">
      <label for="service" class="form-label my-auto">
        Services With Proof <span class="text-danger fw-bold">*</span>
      </label>
      <div
        class="flex-wrap mt-2"
        *ngFor="let service of services; let i = index"
      >
        <div class="row">
          <div class="col-xl-3 col-md-12 col-sm-12">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                [value]="service.present"
                [id]="i"
                (click)="updateService(i)"
              />
              <label class="form-check-label" [for]="i">
                {{ service.name }}
              </label>
            </div>
          </div>
          <div *ngIf="service.present" class="col-xl-9 col-md-12 col-sm-12">
            <div class="mb-3 d-flex align-items-center justify-content-start">
              <label for="formFile" class="form-label my-auto">
                Upload proof for {{ service.name }}
                <span class="text-danger fw-bold">*</span>
              </label>
              <input
                class="form-control form-control-sm w-50 ms-3"
                type="file"
                id="formFile"
                accept="image/*"
                (change)="onFileSelect($event, i)"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div *ngFor="let proof of req_proofs">
        {{ proof.name }}
      </div>
    </div>
    <div class="text-center mb-3">
      <button
        class="btn btn-outline-success text-center px-4"
        type="submit"
        [disabled]="isLoading"
      >
        <div
          class="spinner-border spinner-border-sm mx-1"
          role="status"
          *ngIf="isLoading"
        >
          <span class="visually-hidden">Loading...</span>
        </div>
        Add Details
      </button>
    </div>
  </div>
  <div class="col-xl-2 col-md-2 col-sm-0"></div>
</form>
